<script setup lang="ts"></script>

<template>
  <!-- BEGIN HEADER -->
  <header id="header">
    <div class="nav-section">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <a href="#hero" class="nav-logo">
              <img
                src="/src/assets/images/wedding_mm/logo_mm.png"
                alt="Neela"
              />
            </a>

            <!-- BEGIN MAIN MENU -->
            <nav class="navbar">
              <ul class="nav navbar-nav">
                <li><a href="#loveline">Notre histoire d'amour</a></li>

                <li class="dropdown">
                  <a
                    href="#the-wedding"
                    data-toggle="dropdown"
                    data-hover="dropdown"
                    >Le Mariage<b class="caret"></b
                  ></a>
                  <ul class="dropdown-menu">
                    <li><a href="#the-wedding">Invitation</a></li>
                    <li><a href="#location">Localisation & déroulement</a></li>
                    <li>
                      <a href="#bmiadsgmen"
                        >Demoiselles d'honneur & garçons d'honneur</a
                      >
                    </li>
                    <li><a href="#giftregistry">Projet après Mariage</a></li>
                    <li><a href="#countdown">Décompte</a></li>
                    <li><a href="#testimonials">Citations</a></li>
                  </ul>
                </li>
              </ul>

              <button id="nav-mobile-btn">
                <i class="fas fa-bars"></i>
              </button>
              <!-- Mobile menu button -->
            </nav>
            <!-- END MAIN MENU -->
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- END HEADER -->
</template>

<style scoped></style>
