<script setup lang="ts"></script>

<template>
  <a
    id="back-to-top"
    class="btn btn-back-to-top only-icon"
    href="#"
    role="button"
    ><i class="fa fa-chevron-up"></i
  ></a>
</template>

<style scoped></style>
