<script setup lang="ts"></script>

<template>
  <section class="pattern not-found">
    <div class="container">
      <br /><br /><br /><br /><br /><br />
      <div class="row">
        <div class="col center">
          <h3>Vous n'avez pas le droit d'accéder à cette page</h3>
          <p class="cta">La page que vous recherchez n'est pas disponible.</p>
          <a href="/" class="btn btn-primary">Retour à l'accueil</a>
        </div>
      </div>
    </div>
  </section>
</template>
