<script setup lang="ts"></script>

<template>
  <section class="pattern not-found">
    <div class="container">
      <br /><br /><br /><br /><br /><br />
      <div class="row">
        <div class="col center">
          <h2 class="section-title-lg">404</h2>
          <h3>Oups! Page non trouvée</h3>
          <p class="cta">La page que vous recherchez est introuvable.</p>
          <a href="/" class="btn btn-primary">Retour à l'accueil</a>
        </div>
      </div>
    </div>
  </section>
</template>
