<script setup lang="ts"></script>

<template>
  <!-- BEGIN BLOG SECTION -->
  <section
    id="blog"
    class="section-bg-color divider-bottom-2 divider-pattern divider-bg-color"
  >
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="section-title">Wedding Blog</h1>
        </div>
      </div>

      <div class="row">
        <!-- BEGIN BLOG MAIN CONTENT -->
        <div class="col-sm-12">
          <!-- BEGIN BLOG LISTING -->
          <div class="blog-listing clearfix">
            <div class="row gx-5">
              <!-- BEGIN BLOG ITEM -->
              <article class="item col-md-6">
                <div class="image">
                  <a href="blog-single-post.html">
                    <span class="btn btn-light"
                      ><i class="fa fa-file-o"></i> Read More</span
                    >
                  </a>
                  <img src="https://via.placeholder.com/800x500.png" alt="" />
                </div>

                <div class="date">July 20, 2021</div>

                <div class="info-blog">
                  <h3 class="post-title">
                    <a href="blog-single-post.html"
                      >Wedding trends to obsess over this year</a
                    >
                  </h3>

                  <p>
                    If you've always dreamt of carrying a bouquet of old
                    fashioned garden roses down the aisle, but your budget
                    doesn't quite match up to the dream, try this!
                  </p>

                  <div class="bottom-info">
                    <ul class="blog-meta">
                      <li>
                        <a href="#">Wedding</a>, <a href="#">Ideas</a>,
                        <a href="#">Tips</a>
                      </li>
                      <li>/ By <a href="#">WiselyThemes</a></li>
                    </ul>

                    <div class="blog-share">
                      <a
                        target="_blank"
                        href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.wiselythemes.com%2Fhtml%2Fneela%2Fblog-single-post.html"
                        ><i class="fab fa-facebook-f"></i
                      ></a>
                      <a
                        target="_blank"
                        href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.wiselythemes.com%2Fhtml%2Fneela%2Fblog-single-post.html%2F&amp;text=5%20ways%20to%20have%20a%20beautiful%20wedding"
                        ><i class="fab fa-twitter"></i
                      ></a>
                      <a
                        target="_blank"
                        href="http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.wiselythemes.com%2Fhtml%2Fneela%2Fblog-single-post.html%2F&amp;description=Wedding%20trends%20to%20obsess%20over%20this%20year&amp;media=https%3A%2F%2Fwww.wiselythemes.com%2Fhtml%2Fneela%2Fimages%2Fblog-img-detail.jpg"
                        ><i class="fab fa-pinterest-p"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </article>
              <!-- END BLOG ITEM -->

              <!-- BEGIN BLOG ITEM -->
              <article class="item col-md-6">
                <div class="image">
                  <a href="blog-single-post.html">
                    <span class="btn btn-light"
                      ><i class="fa fa-file-o"></i> Read More</span
                    >
                  </a>
                  <img src="https://via.placeholder.com/800x500.png" alt="" />
                </div>

                <div class="date">August 2, 2021</div>

                <div class="info-blog">
                  <h3 class="post-title">
                    <a href="blog-single-post.html"
                      >The ultimate guide to plan your wedding</a
                    >
                  </h3>

                  <p>
                    When you consider that the average wedding costs over
                    $20,000, you may be thinking that there’s no way you can
                    afford the day of your dreams.
                  </p>

                  <div class="bottom-info">
                    <ul class="blog-meta">
                      <li>
                        <a href="#">Wedding</a>, <a href="#">Ideas</a>,
                        <a href="#">Tips</a>
                      </li>
                      <li>/ By <a href="#">WiselyThemes</a></li>
                    </ul>

                    <div class="blog-share">
                      <a
                        target="_blank"
                        href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.wiselythemes.com%2Fhtml%2Fneela%2Fblog-single-post.html"
                        ><i class="fab fa-facebook-f"></i
                      ></a>
                      <a
                        target="_blank"
                        href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.wiselythemes.com%2Fhtml%2Fneela%2Fblog-single-post.html%2F&amp;text=DIY%3A%20A%20Garden%20Rose%20Bouquet"
                        ><i class="fab fa-twitter"></i
                      ></a>
                      <a
                        target="_blank"
                        href="http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.wiselythemes.com%2Fhtml%2Fneela%2Fblog-single-post.html%2F&amp;description=DIY%3A%20A%20Garden%20Rose%20Bouquet&amp;media=http%3A%2F%2Fplacehold.it%2F750x580"
                        ><i class="fab fa-pinterest-p"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </article>
              <!-- END BLOG ITEM -->
            </div>
          </div>
          <!-- END BLOG LISTING -->

          <div class="center">
            <a class="btn btn-primary" href="blog-listing-sidebar-right.html"
              >View all blog posts</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END BLOG SECTION -->
</template>

<style scoped></style>
