<script setup lang="ts"></script>

<template>
  <!-- BEGIN BRIDESMAIDS SECTION -->
  <section id="bridesmaids" class="parallax-background bg-color-overlay">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="section-title light">Bridesmaids</h2>
        </div>
      </div>

      <div class="row center">
        <div
          class="element bmaid-gmen col-sm-6 col-lg-4"
          data-animation-direction="from-top"
          data-animation-delay="300"
        >
          <div class="image">
            <img src="https://via.placeholder.com/600x600.png" alt="" />
            <div class="hover-info neela-style">
              <div class="content center">
                <h3>Emily Garcia<small>Maid of honour</small></h3>
                <ul class="sn-icons">
                  <li>
                    <a href="#"><i class="fab fa-instagram-square"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div
          class="element bmaid-gmen col-sm-6 col-lg-4"
          data-animation-direction="from-top"
          data-animation-delay="400"
        >
          <div class="image">
            <img src="https://via.placeholder.com/600x600.png" alt="" />
            <div class="hover-info neela-style">
              <div class="content center">
                <h3>Rachel Harris<small>Bridesmaid</small></h3>
                <ul class="sn-icons">
                  <li>
                    <a href="#"><i class="fab fa-instagram-square"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div
          class="element bmaid-gmen col-sm-6 col-lg-4"
          data-animation-direction="from-top"
          data-animation-delay="500"
        >
          <div class="image">
            <img src="https://via.placeholder.com/600x600.png" alt="" />
            <div class="hover-info neela-style">
              <div class="content center">
                <h3>Sarah Williams<small>Bridesmaid</small></h3>
                <ul class="sn-icons">
                  <li>
                    <a href="#"><i class="fab fa-instagram-square"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END BRIDESMAIDS SECTION -->
</template>

<style scoped></style>
