<script setup lang="ts"></script>

<template>
  <!-- BEGIN CONTACTS SECTION -->
  <section id="countdown" class="section-bg-color extra-padding-section">
    <div class="container">
      <div class="row">
        <div
          class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 col-xxl-6 offset-xxl-3"
        >
          <div class="form-wrapper flowers neela-style">
            <span class="v-lines"></span>
            <span class="h-lines"></span>

            <h3 class="section-title">On se donne rendez-vous bientôt!</h3>

            <div class="row justify-content-md-center">
              <div class="col-md-4 wedding-details2">
                <i
                  data-animation-direction="from-bottom"
                  data-animation-delay="200"
                  class="icon-wedding-day"
                ></i>
              </div>
            </div>

            <div class="row justify-content-md-center">
              <div class="col-sm-12 text-center">
                <!-- Countdown container Use the data attribute "date" to set the countdown date.
                      E.g.: data-date="2022/09/20 3:00 PM" -->
                <div
                  class="countdown"
                  data-date="2050/05/18 8:30 AM"
                  data-animation-direction="from-bottom"
                  data-animation-delay="500"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END CONTACTS SECTION -->
</template>

<style scoped></style>
