<script setup lang="ts"></script>

<template>
  <!-- BEGIN GALLERY SECTION -->
  <section id="gallery" class="section-bg-color">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="section-title">Galerie photos</h1>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-4 wedding-details">
          <i
            data-animation-direction="from-bottom"
            data-animation-delay="200"
            class="icon-photo-camera"
          ></i>
          <h4 data-animation-direction="from-bottom" data-animation-delay="200">
            Photo à venir ici
          </h4>
          <p data-animation-direction="from-bottom" data-animation-delay="800">
            Attention souriez dans 1, 2, 3...
            <i class="fa-regular fa-face-smile-beam fa-lg"></i>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- END GALLERY SECTION -->
</template>

<style scoped></style>
