<script setup lang="ts"></script>

<template>
  <!-- BEGIN GROOMSMEN SECTION -->
  <section id="groomsmen" class="parallax-background bg-color-overlay">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="section-title light">Groomsmen</h2>
        </div>
      </div>

      <div class="row center">
        <div
          class="element bmaid-gmen col-sm-6 col-lg-4"
          data-animation-direction="from-top"
          data-animation-delay="300"
        >
          <div class="image">
            <img src="https://via.placeholder.com/600x600.png" alt="" />
            <div class="hover-info neela-style">
              <div class="content center">
                <h3>Michael Scott<small>Best Man</small></h3>
                <ul class="sn-icons">
                  <li>
                    <a href="#"><i class="fab fa-instagram-square"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div
          class="element bmaid-gmen col-sm-6 col-lg-4"
          data-animation-direction="from-top"
          data-animation-delay="400"
        >
          <div class="image">
            <img src="https://via.placeholder.com/600x600.png" alt="" />
            <div class="hover-info neela-style">
              <div class="content center">
                <h3>Daniel Wright<small>Groomsman</small></h3>
                <ul class="sn-icons">
                  <li>
                    <a href="#"><i class="fab fa-instagram-square"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div
          class="element bmaid-gmen col-sm-6 col-lg-4"
          data-animation-direction="from-top"
          data-animation-delay="500"
        >
          <div class="image">
            <img src="https://via.placeholder.com/600x600.png" alt="" />
            <div class="hover-info neela-style">
              <div class="content center">
                <h3>Ryan Anderson<small>Groomsman</small></h3>
                <ul class="sn-icons">
                  <li>
                    <a href="#"><i class="fab fa-instagram-square"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END GROOMSMEN SECTION -->
</template>

<style scoped></style>
