<script setup lang="ts"></script>

<template>
  <!-- BEGIN OUR STORY TITLE SECTION -->
  <section
    id="our-story-title"
    class="parallax-background bg-color-overlay section-divider-bottom-2 padding-divider-top"
  >
    <div class="section-divider-top-1 off-section"></div>
    <!-- The class "section-divider-top-1" can also be applied to the tag <section>. In this case, it was added on a new <div> because the tag <section> have all pseudo elements (::after and ::before) in use. -->
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="section-title">Notre histoire d'amour</h1>
        </div>
      </div>
    </div>
  </section>
  <!-- END OUR STORY TITLE SECTION -->
</template>

<style scoped></style>
