<script setup lang="ts"></script>

<template>
  <!-- BEGIN THE WEDDING SECTION -->
  <section
    id="the-wedding"
    class="parallax-background bg-color-overlay padding-divider-top section-divider-bottom-1 section-divider-bg-color"
  >
    <div class="container">
      <div class="row">
        <div class="col-sm-12 mt-4">
          <h1 class="section-title">Invitation</h1>
        </div>
      </div>

      <div class="row">
        <div
          class="col-md-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 center"
        >
          <div
            class="invite neela-style"
            data-animation-direction="from-left"
            data-animation-delay="100"
          >
            <span class="h-lines"></span>
            <span class="v-lines"></span>

            <div class="invite_title invite_title_rsvp">
              <div class="text">Faire part<small>de</small>Mariage</div>
            </div>

            <div class="invite_info">
              <div class="row">
                <div class="col-6">
                  <h2>
                    Mme. DOE Jane <br />
                    <small>&</small> <br />
                    M. DOE John
                  </h2>
                </div>

                <div class="col-6">
                  <h2>
                    Mme. ROE Rosalie <br />
                    <small>&</small> <br />
                    M. ROE Richard
                  </h2>
                </div>
              </div>

              <div class="uppercase my-4">
                ont la joie de vous faire part du mariage de leurs enfants
              </div>

              <h1 class="my-2">Mélaine <small>&</small> Michel</h1>

              <div class="date">le DD-DD MM, YYYY</div>
              <div class="uppercase">
                <i class="me-1 fas fa-map-marker-alt"></i>
                Localisation: Ile-De-France
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END THE WEDDING SECTION -->
</template>

<style scoped></style>
