<script setup lang="ts"></script>

<template>
  <!-- BEGIN TESTIMONIALS SECTION -->
  <section id="testimonials" class="bg-color side-flowers-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-xl-10 offset-xl-1">
          <div
            id="testimonials-slider"
            class="owl-carousel testimonials light"
            data-animation-direction="from-bottom"
            data-animation-delay="300"
          >
            <div class="item">
              <blockquote>
                Il n’y a pas plus adorable, tendre et charmante relation que
                celle d’un bon mariage.
              </blockquote>

              <div class="author">
                <h3>Martin Luther</h3>
              </div>
            </div>

            <div class="item">
              <blockquote>Le mariage est une vie dans la vie.</blockquote>

              <div class="author">
                <h3>Honoré de Balzac</h3>
              </div>
            </div>

            <div class="item">
              <blockquote>
                Quand on aime le jour de son mariage, on aime pour la vie.
              </blockquote>

              <div class="author">
                <h3>Joseph Lallier</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END TESTIMONIALS SECTION -->
</template>

<style scoped></style>
