<script setup lang="ts"></script>

<template>
  <!-- BEGIN WEDDING GIFTS SECTION -->
  <section id="giftregistry" class="section-bg-color parallax-background">
    <div class="container">
      <div class="row mt-4">
        <div class="col-md-8 col-xl-6">
          <h3 class="section-title-md uppercase desc">
            <strong>Projet</strong><small>Après mariage</small>
          </h3>
          <div class="section-desc">
            <div class="row">
              <div class="center mb-2 col-md-2 col-sm-12">
                <i class="fa-solid fa-earth-asia fa-5x"></i>
              </div>

              <div class="col-md-10 col-sm-12">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </div>
            </div>

            <br /><br />

            <div class="row">
              <div class="center mb-2 col-md-2 col-sm-12">
                <i class="fa-solid fa-gift fa-5x"></i>
              </div>

              <div class="col-md-10 col-sm-12">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </div>
            </div>

            <br /><br />

            <div class="row">
              <div class="center mb-2 col-md-2 col-sm-12">
                <i class="fa-solid fa-route fa-5x"></i>
              </div>

              <div class="col-md-10 col-sm-12">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-xl-6">
          <ul class="wedding-gifts">
            <li
              id="help-honeymoon"
              data-animation-direction="from-bottom"
              data-animation-delay="300"
            >
              <div class="neela-style">
                <span class="h-lines"></span>
                <span class="v-lines"></span>

                <i class="icon-honeymoon"></i>
                <h3>Contribuer à<br />nos projets</h3>

                <div class="info">
                  <a href="#" id="otheramount" class="btn btn-primary reverse">
                    <span class="h-lines"></span>
                    <span class="v-lines"></span>
                    Participer
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- END WEDDING GIFTS SECTION -->
</template>

<style scoped></style>
