<script setup lang="ts"></script>

<template>
  <!-- BEGIN FOOTER -->
  <footer id="footer-onepage" class="bg-color">
    <div class="footer-widget-area">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="footer-info left">
              Save the date <br />
              Le DD-DD MM YYYY<br />
              Région Ile-De-France
            </div>
          </div>

          <div class="col-md-4">
            <div class="footer-logo">
              Mélaine<br />
              <small>&</small><br />
              Michel
            </div>
          </div>

          <div class="col-md-4">
            <div class="footer-info right">
              E-mail: mariage.mm@loremipsum.com
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            Made with
            <a
              href="https://themeforest.net/item/neela-onepagemultipage-wedding-html5-template/34245021"
              target="_blank"
              >Neela WiselyThemes</a
            >
            Template.
          </div>
          <div class="col-sm-6">&copy; 2022 Michel MAN</div>
        </div>
      </div>
    </div>
  </footer>
  <!-- END FOOTER -->
</template>

<style scoped></style>
